#app {
  width: 80%;
  margin: 20px auto;
}

#currencies {
  column-count: 3;
}

.currency {
  text-align: center;
  font-size: 14px;
}

header {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}
