#app {
  width: 80%;
  margin: 20px auto;
}

#controls {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
}

.control-item {
  margin: 3px;
  cursor: pointer;
}

.currency {
  text-align: center;
  font-size: 14px;
}

header {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}

/*PHONES*/
#currencies {
  column-count: 1;
}

/*TABLETS*/
@media only screen and (min-width: 320px) {
  #currencies {
    column-count: 2;
  }
}

/*DESKTOP*/
@media only screen and (min-width: 768px) {
  #currencies {
    column-count: 3;
  }
}
